@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova-Light.otf");
    font-weight: 100;
}/**/

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova-Regular.otf");
    font-weight: 300;
}
@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova-Semibold.otf");
    font-weight: 500;
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova-Bold.otf");
    font-weight: 700;
}

body{

    margin: 0;
    padding: 0;
    font-family: 'ProximaNova', sans-serif;

    text-align: center;
    color: #333;
}
h1{
    font-family: 'ProximaNova', sans-serif;
    font-size: 45px;
    font-weight: 700;

    float: left;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 0px;
    width: 100%;

}

h2{

    font-weight: 200;
    font-size: 20px;
}
a{
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}
.main-container{
    float: left;
    width: 100%;

    background: url('../images/yobg.png')
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90vh;
    color: #fff;

}
.bg-plane{

    background: url('../images/plane.png')
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



}
.layout{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: inherit;
    float: left;
}
.container{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: table;
}
.centered-container{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 100px;

}
.avatar{
    width: 120px;
    height: 120px;
    background-color: #333;
    margin: 0 auto;
    background-image: url('../images/fotoperfil.jpeg');
    background-size: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
}
.full-container{
    float: left;
    width: 100%;

    height: 100vh;

}
.full-container h2{
    font-size: 30px;
}
.round-icon{
    width: 55px;
    height: 55px;
    color: #fff;
    line-height: 55px !important;
    font-size: 30px !important;
    border-radius: 50%;
    margin: 10px;
    border:3px solid transparent;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    cursor: pointer;
}
.round-icon:hover{
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
    transform:scale(1.15);
}
.social-buttons{
    margin-top: 40px;
    float: left;
    width: 100%;

}

.fa-twitter{
    background: #3498db;

}
.fa-twitter:hover{

    border-color: #3498db;
    color: #3498db ;
    background: transparent;
}

.fa-facebook{
    background: #2980b9;
}
.fa-facebook:hover{
    border-color: #2980b9;
    color: #2980b9 ;
    background: transparent;
}
.fa-linkedin{
    background: #2b5da5;
}
.fa-linkedin:hover{
    border-color: #2b5da5;
    color: #2b5da5 ;
    background: transparent;
}
.fa-google{
    background: #e74c3c;
}
.fa-google:hover{
    border-color: #e74c3c;
    color: #e74c3c ;
    background: transparent;
}
.fa-dribbble{

    background: #e54d8c;
}
.fa-dribbble:hover{
    border-color: #e54d8c;
    color: #e54d8c ;
    background: transparent;
}
.fa-angle-down{
    background: #fff;
    color: #333;
}
.down-btn{
    color: #999;
    margin-top: 10px;
    font-size: 40px !important;
    border-radius: 50%;
    background: transparent;
}
.down-button-container{

    margin: 0 auto;
    bottom: 0px;
    float: left;
    width: 100%;
}